/* anime. */

/* HEADER */
h1 {
    font-family: 'Deacon Test';
    text-align: center;
    font-size: 20x;
    border-color: black;    
    font-weight: normal;
    font-style: normal; 
    
}
 /* COLOR */
a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

body {
    font-family: Gilroy ExtraBold;
    font-variant: ExtraBold;
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'gilroy';
    src: url("/fonts/GILROY-LIGHT.otf");
}