/* anime. */

/* HEADER */
h1 {
    font-family: 'Deacon Test';
    text-align: center;
    font-size: 20x;
    border-color: black;    
    font-weight: normal;
    font-style: normal; 
    
}
 /* COLOR */
a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

body {
    font-family: "Suisse Int'l Mono Trial";
    font-variant: Bold;
    font-weight: normal;
    font-style: normal; 
}


.content {padding:20px;}

@font-face {
    font-family: "Deacon Test";
    src: url(DeaconTest-Bold.otf);    
}

@font-face {
    font-family: "SuisseIntlMonoTrial-Bold";
    src: url(SuisseIntlMonoTrial-Bold.OTF);    
}

@font-face {
    font-family: "SuisseIntlMonoTrial-Regular";
    src: url(SuisseIntlMonoTrial-Regular.OTF);    
}



/* Body Paragraph */

body {
background-color: #ffffff;
padding: 20px;
/* cursor: url("images/Untitled-1.png"), auto;*/



}   

/* Header CSS */
   
.header {
padding: 5px;
font-family: 'Deacon Test';
text-align: left;
background: #ffffff;
color: rgb(0, 0, 0);
font-size: 25px;

top: 0;
overflow: hidden;
margin: 40px;


}

.header a.logo {
font-size: 25px;
font-weight: bold;
}

.header a:hover {
background-color: rgb(0, 0, 0);
color: rgb(0, 0, 0);


}

.header-right {
float: right;
padding-right: 30px;
}

.header-right2 {
float: right;
}

.content {
margin: top 100px;


}

    
/* BOXES */

/* OVERLAY */

.container {
position: sticky;
}

.image {
opacity: 2;
display: block;
width: 50%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}
.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
font-weight: bold;
  
}

.container:hover .image {
opacity: .2;
}

.container:hover .middle {
opacity: 10;
}

/* TEXT BOX */
.text {

color: rgb(0, 0, 0);
font-size: 30px;

}
* {
box-sizing: border-box;
}

.main {
max-width: 2000px;
margin: auto;
}




/* ROW */
.row {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
padding: 0 4px;

}

/* TEXT ALLIGNMENT */

/* Add padding BETWEEN each column */
.row,
.row > .column {
padding: 20px;
}

/* Create four/or various equal columns that floats next to each other */
.column {
-ms-flex: 25%; /* IE10 */
flex: 5%;
max-width: 69%;
padding: 0 10px;
}
/* Clear floats after rows */ 
.row:after {
content: "";
display: table;
clear: both;
}

/* Content */
.content {
background-color: rgb(0, 0, 0);
padding: 20px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 50%;
}



