/* anime. */

/* HEADER */
h1 {
    font-family: 'Deacon Test';
    text-align: left;
    font-size: 30x;
    border-color: black;    
    font-weight: normal;
    font-style: normal; 
    
    
}

body {
    font-family: Gilroy;
    font-variant: ExtraBold; 
    font-weight: normal;
    font-style: normal; 
    background-color: yellow;
    
}

@font-face {
    font-family: "Deacon Test";
    src: url(DeaconTest-Bold.otf);    
}

@font-face {
    font-family: "Gilroy Light";
    src: url(GILROY-LIGHT.OTF);    
}

@font-face {
    font-family: "Gilroy ExtraBold";
    src: url(GILROY-EXTRABOLD.OTF);    
}
